.profile {
  padding: 2rem;
  text-align: center;
}

.userInfo {
  margin: 2rem 0;
}

.profileImage, .imagePreview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editForm input[type="text"],
.editForm input[type="email"],
.editForm input[type="file"] {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 80%;
  max-width: 400px;
  border: 1px solid #C9B2CF;
  border-radius: 5px;
}

.editButton, .saveButton, .cancelButton {
  background-color: #F9B95F;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

.editButton:hover, .saveButton:hover, .cancelButton:hover {
  background-color: #d8843f;
}

@media (max-width: 768px) {
  .editForm input {
    width: 90%;
  }
}