.landingPage {
    text-align: center;
  }
  
  .heroSection {
    padding: 2rem;
    background-color: #F4E68E;
    color: #815288;
  }
  
  .heroSection h1 {
    margin-bottom: 1rem;
  }
  
  .heroSection p {
    font-size: 1.2rem;
  }
  