
.navbar {
  background-color: #E5EAD9;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #815288;
  text-decoration: none;
}
.links {
  display: flex;
  gap: 1rem;
}

.links a {
  margin-left: 1rem;
  color: #815288;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
    gap: 0.5rem;
  }
}